<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
       <meta charset="UTF-8"/>
    <title>User Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
      <!-- See configuration in WebMvConfig.java -->
     <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
      <!--Custom styles-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <!-- Include _menu.html -->
      <div class="container">
      <th:block th:include="/_menu"></th:block>
   	
<form class="form-horizontal" th:object="${movie}">
			<input type="hidden" th:field="*{movieID}" />
			<div th:class="form-group">
				<label class="col-sm-2 control-label">Title: </label>
				<div class="col-md-10">
					<input type="text" class="form-control" th:field="*{title}" />
				</div>
			</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Year </label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{year}" />
		    	</div>
		  	</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Director </label>
				<div class="col-md-10">
					<input type="datetime" class="form-control" th:field="*{director}" />
				</div>
			</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Rating </label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{rating}" />
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Language </label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{language_id}" />
		    	</div>
		  	</div>
		  			  	  	
			<button  class="btn btn-default float-right">Add comment</button>
			<a class="btn btn-default" th:href="@{/movie}">Back To Movie List</a>
</form>
		 
		 
		 <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Comment date</th>
      <th scope="col">User_id</th>
      <th scope="col">body</th>

    </tr>
  </thead>
  <tbody>
   <tr th:each="comment : ${comment}">
            <td th:utext="${comment.title}">..</td>
            <td th:utext="${comment.commentDate}">..</td>
            <td th:utext="${comment.userId}">..</td>
            <td th:utext="${comment.body}">..</td>
        </tr>
        
  </tbody>
</table> 	

<p th:text="${comment[0].title}"> tytulek</p>




<div class="row" >
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right">Lots of comments</small> Comments </h1>
                  </div> 
                   <div class="comments-list" th:each="comment : ${comment}">
                       <div class="media">
                           <p class="pull-right"><small th:utext="${comment.commentDate}">Date</small></p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/1/">
                            </a>
                            <div class="media-body">
                                
                              <h4  class="media-heading user_name" th:utext="${comment.userId}" >User ID</h4>
                             <a th:utext="${comment.body}"> Comment body. </a>
                              
                              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                            </div>
                          </div>
                   </div>
                    
                    
                    
                </div>
            </div>
		  	
       <script th:src="@{/jquery/jquery.min.js}"></script>  
      <script th:src="@{/popper/popper.min.js}"></script>  
      <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
   </body>
    
</html>