<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
       <meta charset="UTF-8"/>
    <title>User Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
      <!-- See configuration in WebMvConfig.java -->
     <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
      <!--Custom styles-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <!-- Include _menu.html -->
      <div class="container">
      <th:block th:include="/_menu"></th:block>
       
      <h2>Admin Page</h2>
      
      <div th:if="${message}" class="alert alert-success" role="alert">
  	<p th:text="${message}"> success message</p>
  </div>
       <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Movie ID</th>
      <th scope="col">Title</th>
      <th scope="col"> Rating</th>
      <th scope="col"> Director</th>
      <th scope="col"> Action</th>
    </tr>
  </thead>
  <tbody>
   <tr th:each="movie : ${movie}">
            <td th:utext="${movie.movieId}">..</td>
            <td th:utext="${movie.title}">..</td>
            <td th:utext="${movie.rating}">..</td>
            <td th:utext="${movie.director}">..</td>
            <td>
           <a type="button" class="btn btn-danger"  th:href="@{/movie/delete/} + ${movie.movieId}">Delete</a>
             <a type="button" class="btn btn-primary" th:href="@{/movie/edit/} + ${movie.movieId}">Edit</a>
              <a type="button" class="btn btn-primary" th:href="@{/movie/view/} + ${movie.movieId}">Show</a>
             </td>
        </tr>
        
  </tbody>
</table>
   <a type="button" class="btn btn-dark" th:href="@{/movie/create}">Add New Movie</a>
   </div>
    
      <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
       
       <script th:src="@{/jquery/jquery.min.js}"></script>  
      <script th:src="@{/popper/popper.min.js}"></script>  
      <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
   </body>
    
</html>